doctype html
html.h-100(lang="en")
  head
    title Quasislack
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="This is online chat application. Use it to communicate with your friends!")
    script.
      var gon = !{JSON.stringify(gon)};
  body.d-flex.flex-column.h-100.bg-light
    .nav.navbar.navbar-expand-lg.navbar-light.container
      a.navbar-brand QuasiSlack
    .container.h-100.overflow-hidden.pt-3
      .h-100#chat
    script(src=assetPath('main.js'))
